<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>webIzospan</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="assets/css/exp.compiled.css">
    <link rel="stylesheet" href="assets/css/mloureiro1973-login.css">
    <link rel="stylesheet" href="assets/css/noVal.css">
</head>

<body style="font-family: Montserrat, sans-serif;">
    <div class="login-card">
        <div class="text-center mb-4"><img class="img-fluid profile-img-card" src="assets/img/isobud_logo-min.png">
            <h2 class="text-center" style="font-style: normal;font-weight: bold;">&amp;</h2><img class="img-fluid profile-img-card" src="assets/img/logo.svg"></div>
        <form class="form-signin" action="login.php" method="post"><input class="form-control" type="text" id="inputEmail" name="user" required="" placeholder="Логин" autofocus=""><input class="form-control" type="password" id="inputPassword" name="password" required="" placeholder="Пароль"><a class="btn btn-primary btn-block btn-lg btn-signin"
                role="button" name="login" href="index.html">Вход</a></form>
        <div class="text-center mt-3"><a class="forgot-password" href="#passwordRecuperar.html">Перейти к сайту mvlab.by</a></div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/vueExp.js"></script>
    <script src="assets/js/check.js"></script>
    <script src="assets/js/addFunctionChartBefore.js"></script>
    <script src="assets/js/highstock.js"></script>
    <script src="assets/js/boost.js"></script>
    <script src="assets/js/xrange.js"></script>
    <script src="assets/js/drawCharts.js"></script>
    <script src="assets/js/addFunctionChartAfter.js"></script>
    <script src="assets/js/addFunctionChartAfterD.js"></script>
</body>

</html>